@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  --color-text: #505050;
  --blue: #004494;
  line-height: 1.4;
}

body {
  background-color: #777777;
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  box-shadow: 1px 0px 9px 0px black, -1px 0px 9px 0px black;
}

aside {
  background-color: #f1f1f1;
  flex: 2 5;
  padding: 30px 0 0 0;
}
main {
  width: 100%;
  flex: 5 2;
  padding: 30px 0 0 0;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-profile {
  position: relative;
  width: 100%;
  border: solid 5px #bbbbbb;
  border-radius: 50%;
  overflow: hidden;
}
.img-profile::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.img-profile img {
  position: absolute;
  top: -45px;
  width: 100%;
  height: auto;
  object-fit: cover;
  background: hsla(0, 80%, 56%, 1);
  background: radial-gradient(
    circle,
    hsla(24, 58%, 68%, 1) 1%,
    hsla(16, 65%, 45%, 1) 82%,
    hsla(0, 80%, 56%, 1) 100%
  );
}

.info-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  margin-top: 20px;
}

.contact {
  margin: 15px 10px;
}

.contact-list {
  list-style: none;
}

.contact-list > li {
  display: grid;
  grid-template-columns: 40px auto;
  margin: 15px 0;
}

.contact-list > li span,
.contact-list > li a {
  font-weight: 400;
}

.icon {
  color: var(--blue);
  font-size: 20px;
}

.content {
  padding: 30px;
}

.content span {
  font-weight: 400;
}

.content section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
}

