@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #757575;
}

* {
  box-sizing: border-box;
}

:root {
  --color-text: #505050;
  --blue: #004494;
  --gray-light: #f5f5f5;
  --gray: #757575;
  --gray-dark: #424242;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

ul {
  list-style-type: circle;
}

body {
  background-color: #777777;
  color: var(--color-text);
  padding: 10px;
  width: fit-content;
}

hr {
  border-color: var(--gray-light);
  width: 100%;
}

a {
  color: var(--color-text);
}

.container {
  display: flex;
  max-width: 1000px;
  min-width: 800px;
  margin: auto;
  min-height: 100vh;
  box-shadow: 1px 0px 9px 0px black, -1px 0px 9px 0px black;
}

aside {
  background-color: var(--gray-light);
  flex: 2 5;
  padding: 30px 0 0 0;
}
main {
  width: 100%;
  flex: 5 2;
  padding: 30px 0 0 0;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-profile {
  position: relative;
  width: 100%;
  border: solid 5px #bbbbbb;
  border-radius: 50%;
  overflow: hidden;
}
.img-profile::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.img-profile img {
  position: absolute;
  top: -45px;
  width: 100%;
  height: auto;
  object-fit: cover;
  background: hsla(0, 80%, 56%, 1);
  background: radial-gradient(
    circle,
    hsla(24, 58%, 68%, 1) 1%,
    hsla(16, 65%, 45%, 1) 82%,
    hsla(0, 80%, 56%, 1) 100%
  );
}

.info-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  margin-top: 20px;
}

.contact {
  margin: 15px 10px;
  padding: 20px;
}

.contact-list {
  list-style: none;
}

.contact-list > li {
  display: grid;
  grid-template-columns: 40px auto;
  margin: 15px 0;
}

.contact-list > li span,
.contact-list > li a {
  font-weight: 400;
}

.icon {
  color: var(--blue);
  font-size: 20px;
}

.content {
  padding: 30px;
}

.content span {
  font-weight: 400;
  color: inherit;
}

.content section {
  margin: 20px 0;
}
.content section .title{
  margin: 5px 0;
}

.content .section {
  display: grid;
  grid-template-columns: 20px 1fr;
}

.section .title{
  grid-column: span 2;
}

.line-dotted {
  height: 100%;
  border-left: solid var(--blue) 3px;
  
}

.level {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
  text-align: center;
}

.other-languages {
  display: grid;
  gap: 10px;
}

.list-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 5px 0;
}

.list-info h3{
  position: relative;
}

.list-info h3::before{
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue);
  left: -20px;
  transform: translate(-50%, 35%);
}
